@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .left {
      display: flex;
      align-items: center;
      gap: 20px;

      .horuslogo {
        width: 65px;
        height: 55px;
      }
      .namelogo {
        width: 150px;
        height: 35px;
      }

      span {
        font-weight: bold;
        font-size: 30px;
        color: #ec9706;
      }

      .search {
        display: flex;
        align-items: center;
        gap: 20px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;
        margin-left: 70px;

        input {
          border: none;
          width: 400px;
          background-color: transparent;
          color: themed("textColor");

          @include mobile {
            display: none;
          }

          @include tablet {
            width: 200px;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
        display: none;
      }
      .dropDownProfile {
        position: absolute;
        top: 4.5rem;
        right: 1.5rem;
        width: 120px;
        padding: 15px;
        border-radius: 8px;
        background-color: white;
        border: 1px solid gray;
      }
      .dropDownProfile::before {
        content: "";
        position: absolute;
        top: -0.7rem;
        right: 1.1rem;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        border-left: 1px solid gray;
        border-top: 1px solid gray;
        background-color: white;
      }
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;

        @include tablet {
          display: none;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
