.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 47px;
}
.search-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-right: 180px;
}

.dropdown {
  background-color: rgba(138, 138, 138, 0.685);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(4px) saturate(180%);
  border-radius: 5px;
  /* border: 1px solid gray; */
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(151, 151, 151, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  /* padding: 10px 20px; */
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 15px 20px;
  font-size: 15px;
  color: #000000;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.imgS {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
