.tournament {
  height: 250px;
  width: 550px;
  border-radius: 20px;
  margin-bottom: 15px;

  &:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    //   box-shadow: 0px 2px 2px 2px rgba(210, 193, 66, 0.5);
    //   transform: translateY(-5px);
  }
}
