.register {
  height: 100vh;
  background-color: #292b3060;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(54, 54, 57);
    border-radius: 10px;
    min-height: 300px;
    overflow: hidden;

    .left {
      flex: 1;
      background: linear-gradient(rgba(52, 50, 56, 0.5), rgba(72, 71, 76, 0.5)),
        url("https://bbts1.azureedge.net/images/p/full/2022/11/a3d15c33-6cb1-4a3a-bd31-109cef015460.jpg")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;
      h1 {
        font-size: 40px;
      }
      h2 {
        font-size: 35px;
        line-height: 50px;
      }

      span {
        font-size: 14px;
      }

      button {
        width: 30%;
        padding: 10px;
        border: none;
        background-color: white;
        color: #31302e;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        &:hover {
          background-color: #cfcf36;
          color: white;
        }
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: white;
        // margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 1px;
      }

      .register-header {
        display: flex;
        justify-content: center;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 12px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 15px 0px;
          margin-bottom: 0px;
          border-radius: 10px;
          width: 100%;
        }

        button {
          width: 30%;
          padding: 10px;
          border: none;
          background-color: white;
          color: #31302e;
          font-weight: bold;
          cursor: pointer;
          border-radius: 10px;
          &:hover {
            background-color: #cfcf36;
            color: white;
          }
        }

        .text-error {
          font-size: x-small;
          position: absolute;
          color: red;
        }
      }
    }
  }

  .mb-5 {
    margin-bottom: 5px;
  }

  .text-white {
    color: white;
  }
}

@media screen and (max-width: 1079px) {
  .register {
    height: 87vh;
    margin-bottom: 20rem;
  }
  .register .card {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
    position: absolute;
  }
}
